


<div class="jumbotron container my-6">
    <h1 class="display-4 text-center Heading1">About This App</h1>
    <p class="lead Heading2">This is a simple responsive Todo-List handling app that is my first attempt with Angular js and i am very much excited to make more websites like this and i promise that i will come with a bomber in my next projects.</p>
    <hr class="my-4 ">
    <span >
    <p class="Heading3  ">Much Love !!! </p>
        <p class="Heading3  ">Raghav Gandhi   </p>
    </span>
    <div class="lead text-center">
      <a class="btn btn-info btn-bg " href="#" routerLink="/" role="button">Learn more</a>
    </div>
  </div>