@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Raleway:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Raleway:ital,wght@1,500&display=swap');

.Heading1{
    font-family: 'Lato', sans-serif;
}
.Heading2{
    font-family: 'Raleway', sans-serif;
}
.Heading3{
    font-family: 'Raleway', sans-serif;
    
}